@font-face {
    font-family: 'play';
    src: url(/font/Play/Play-Regular.ttf) format('tff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montsserrat';
    src: url(/font/Montserrat/Montserrat-VariableFont_wght.ttf) format('tff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'montsserratthin';
    src: url(/font/Montserrat/static/Montserrat-ExtraLight.ttf) format('tff');
    font-weight: 400;
    font-style: normal;

}